/* Small - <600px */
@media (min-width: 0px) {
    html {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 15px;
        background-color: #f24333;
        /* color: rgb(235, 235, 235); */
    }

    nav {
        background-color: #18314d;
        margin-bottom: 5%;
        position: relative;
        z-index: 2;
    }

    .nav-extended {
    }

    @font-face {
        font-family: 'LECO 2014';
        src: url('LECO2014.woff2') format('woff2'),
            url('LECO2014.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    nav .brand-logo {
        font-family: 'Leco 2014';
        font-size: 3em;
        color: rgb(235, 235, 235);
        padding: 0 0.5em 0 0.5em;
        -webkit-transition: color .28s ease, background-color .28s ease;
        transition: color .28s ease, background-color .28s ease;
    }

    nav .brand-logo:hover {
        color: #f24333
    }

    nav ul a{
        font-size: 1.25em;
        color: rgb(235, 235, 235);
        font-weight: 600;
        -webkit-transition: color .28s ease, background-color .28s ease;
        transition: color .28s ease, background-color .28s ease;
    }

    nav ul a:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: #f24333;
    }

    .tabs .tab a {
        font-size: 1.25em;
        color: rgb(235, 235, 235);
    }

    .tabs .tab a:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: #f24333;
    }

    // viget.com/articles/angled-edges-with-css-masks-and-transforms/
    .intro {
        background: #18314d;
        padding: 20px 0 20px 2em;
        position: relative;
        z-index: 0;

        letter-spacing: 0.08em;
        line-height: 2em;

        &:before,
        &:after {
            background: inherit;
            content: '';
            display: block;
            height: 50%;
            left: 0;
            position: absolute;
            right: 0;
            z-index: -1;
            -webkit-backface-visibility: hidden; // for Chrome Windows
        }

        &:before {
            top: 0;
            transform: skewY(1.5deg);
            transform-origin: 100% 0;
        }

        &:after {
            bottom: 0;
            transform: skewY(-1.5deg);
            transform-origin: 100%;
        }
    }

    .intro p {
        font-size: 1.5em;
        color: rgb(235, 235, 235);
        margin: 0 0 0 0;
    }

    .intro .desc {
        font-size: 1.2em;
    }

    .intro h1 {
        color: #f24333;
        margin: 20px 0 20px 0;
    }

    .about {
        background: #18314d;
        padding: 20px 0 20px 2em;
        position: relative;
        z-index: 0;

        letter-spacing: 0.08em;
        line-height: 2em;

        &:before,
        &:after {
            background: inherit;
            content: '';
            display: block;
            height: 50%;
            left: 0;
            position: absolute;
            right: 0;
            z-index: -1;
            -webkit-backface-visibility: hidden; // for Chrome Windows
        }

        &:before {
            top: 0;
            transform: skewY(-1.5deg);
            transform-origin: 0 100%;
        }

        &:after {
            bottom: 0;
            transform: skewY(1.5deg);
            transform-origin: 0 100%;
        }
    }

    .about p {
        font-size: 1.2em;
        color: rgb(235, 235, 235);
        margin: 0 0 10px 0;
    }

    .about p:last-child {
        margin: 0 0 0 0;
    }
    
    .link {
        color: #f24333;
    }

    .about h1 {
        color: #f24333;
        margin: 20px 0 20px 0;
    }

    .pic {
        width: 80%;
    }

    .project {
        margin-top: 150px;
    }

    .button-default {
        border: 2px solid #f24333;
        color: rgb(235, 235, 235);
        text-align: center;
        text-transform: uppercase;
        padding: 5px 10px;
        margin: 10px;
        display: inline-block;
    }

    .button-slanted {
      -ms-transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg);
      transform: skewX(-20deg);
    }
}

/* Medium - <992px */
@media (min-width: 600px) {
   
}

/* Large - <1200px */
@media (min-width: 992px) {
    .intro {
        background: #18314d;
        padding: 30px 8% 30px 8%;
    }
    .about {
        background: #18314d;
        margin-top: 150px;
        padding: 30px 8% 30px 8%;
    }

    .icon-bar {
        z-index: 1;
        display: block;
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    /* Style the icon bar links */
    .icon-bar a {
        display: block;
        text-align: center;
        padding: 15px 15px 15px 15px;
        transition: all 0.3s ease;
        color: rgb(235, 235, 235);
        font-size: 23px;

        &.grow {
            transition: all .2s ease-in-out;

            &:hover {
                transform: scale(1.5);
            }
        }
    }

    .bars {
        color: rgb(235, 235, 235);
        line-height: 20px;
        font-size: 15px;
        text-align: center;
        margin: 0;
    }

    // Icon grow effect
    .grow { 
        transition: all .2s ease-in-out; 
    }
    .grow:hover { 
        transform: scale(1.3); 
    }
}

/* Extra Large - >1200px */
@media (min-width: 1200px) {

}