/* Small - <600px */
@media (min-width: 0px) {

    html {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 15px;
        /* color: rgb(235, 235, 235); */
    }

    nav {
        background-color: #18314d;
    }

    @font-face {
        font-family: 'LECO 2014';
        src: url('LECO2014.woff2') format('woff2'),
            url('LECO2014.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    nav .brand-logo {
        font-family: 'Leco 2014';
        font-size: 3em;
        color: rgb(235, 235, 235);
        padding: 0 0.5em 0 0.5em;
        -webkit-transition: color .28s ease, background-color .28s ease;
        transition: color .28s ease, background-color .28s ease;
    }

    nav .brand-logo:hover {
        color: #f24333
    }

    nav ul a{
        font-size: 1.25em;
        color: rgb(235, 235, 235);
        font-weight: 600;
        -webkit-transition: color .28s ease, background-color .28s ease;
        transition: color .28s ease, background-color .28s ease;
    }

    nav ul a:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: #f24333;
    }

    .tabs .tab a {
        font-size: 1.25em;
        color: rgb(235, 235, 235);
    }

    .tabs .tab a:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: #f24333;
    }

}

/* Medium - <992px */
@media (min-width: 600px) {

}

/* Large - <1200px */
@media (min-width: 992px) {

}

/* Extra Large - >1200px */
@media (min-width: 1200px) {

}